<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <menuitem name="lsd_sale" id="lsd_sale.menu_root" />

    <menuitem name="Usuarios" id="lsd_sale.menu_1" parent="lsd_sale.menu_root" />
    <menuitem name="Compras" id="lsd_sale.menu_2" parent="lsd_sale.menu_root" />


    <menuitem name="Lista_Usuarios" id="lsd_sale.menu_1_list" parent="lsd_sale.menu_1"
        action="lsd_sale.action_window" />
    <menuitem name="Lista_Compras" id="lsd_sale.menu_2_compra_list" parent="lsd_sale.menu_2"
        action="lsd_sale.compra_action_window" sequence="10" />

    
</odoo>